<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- breadcrumb-list start -->
        <ul class="breadcrumb-list d-flex align-items-center gap-2">
          <li class="breadcrumb-item">
            <a href="index.html"><i class="fa-solid fa-house fs-6"></i></a>
          </li>
          <ul class="breadcrumb-list d-flex align-items-baseline gap-2">
            <li class="breadcrumb-item active fs-5">часы</li>
          </ul>
        </ul>
        <!-- breadcrumb-list end -->
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb-area end -->
