<footer class="bg-dark footer">
  <div class="footer-top py-8">
    <div class="container-xl">
      <div class="row gy-5">
        <div class="col-lg-8 pe-xxl-10">
          <div class="row gy-5">
            <div class="col-6 col-lg-4">
              <h5 class="text-white footer-title-01">О нас</h5>
              <ul class="list-unstyled footer-link-01 m-0">
                <li>
                  <a class="text-white text-opacity-75" href="about.html">
                    О компании
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="blog.html">
                    Блог
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Наши материалы
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Наши партнеры
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-6 col-lg-4">
              <h5 class="text-white footer-title-01">Информация</h5>
              <ul class="list-unstyled footer-link-01 m-0">
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Служба поддержки
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Политика конфиденциальности
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Политика cookies
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Условия использования
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Правила и условия
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-6 col-lg-4">
              <h5 class="text-white footer-title-01">Нужна помощь?</h5>
              <ul class="list-unstyled footer-link-01 m-0">
                <li>
                  <a class="text-white text-opacity-75" href="contacts.html">
                    Связаться с нами
                  </a>
                </li>
                <li>
                  <a
                    class="text-white text-opacity-75"
                    href="frequently-questions.html">
                    Часто задаваемые вопросы
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Специальные предложения
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Мобильное приложение
                  </a>
                </li>
                <li>
                  <a class="text-white text-opacity-75" href="#">
                    Найти магазин
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h5 class="text-white footer-title-01 fs-5">
            Подпишитесь на нашу рассылку и получите 15% скидку на следующий
            заказ.
          </h5>
          <div>
            <form class="d-flex flex-row mb-2 p-1 bg-white input-group">
              <input
                type="email"
                class="form-control rounded border-0"
                placeholder="Ваш Email" />
              <button class="btn btn-secondary flex-shrink-0" type="submit">
                Подписаться
              </button>
            </form>
            <p class="fs-sm text-white text-opacity-75">
              Я согласен получать рассылки Time Sphere
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="footer-bottom small py-3 border-top border-white border-opacity-10">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-6 text-center text-md-start py-1">
          <p class="m-0 text-white text-opacity-75">
            © 2025 авторские права принадлежат
            <a class="text-reset" href="#">time-sphere.com</a>
          </p>
        </div>
        <div class="col-md-6 text-center text-md-end py-1">
          <ul
            class="nav justify-content-center justify-content-md-end list-unstyled footer-link-01 m-0">
            <li class="p-0 mx-3 ms-md-0 me-md-3">
              <a href="#" class="text-white text-opacity-75">
                Политика конфиденциальности
              </a>
            </li>
            <li class="p-0 mx-3 ms-md-0 me-md-3">
              <a href="#" class="text-white text-opacity-75">
                Часто задаваемые вопросы
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
