<footer>
  <div class="footer-top section-pb section-pt-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="widget-footer mt-40">
            <h6 class="title-widget">Контактная информация</h6>

            <div class="footer-addres">
              <div class="widget-content mb--20">
                <p>
                  Адрес: ул. Главная, 123, Город,
                  <br />
                  Днепр, Украина.
                </p>
                <p>
                  Телефон:
                  <a href="tel:">+380(50) 123 45 67</a>
                </p>

                <p>
                  Email:
                  <a href="tel:">mail@timespot24.com</a>
                </p>
              </div>
            </div>

            <ul class="social-icons">
              <li>
                <a
                  class="facebook social-icon"
                  href="#"
                  title="Facebook"
                  target="_blank">
                  <i class="fa-brands fa-facebook"></i>
                </a>
              </li>
              <li>
                <a
                  class="twitter social-icon"
                  href="#"
                  title="Twitter"
                  target="_blank">
                  <i class="fa-solid fa-guitar"></i>
                </a>
              </li>
              <li>
                <a
                  class="instagram social-icon"
                  href="#"
                  title="Instagram"
                  target="_blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a
                  class="linkedin social-icon"
                  href="#"
                  title="Linkedin"
                  target="_blank">
                  <i class="fa-solid fa-envelope"></i>
                </a>
              </li>
              <li>
                <a class="rss social-icon" href="#" title="Rss" target="_blank">
                  <i class="fa-brands fa-telegram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="widget-footer mt-40">
            <h6 class="title-widget">Информация</h6>
            <ul class="footer-list">
              <li><a href="index.html">Главная</a></li>
              <li><a href="about.html">О нас</a></li>
              <li><a href="contacts.html">Быстрый контакт</a></li>
              <li><a href="blog.html">Обзоры</a></li>
              <li><a href="#">История компании</a></li>
              <li><a href="#">Отзывы клиентов</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="widget-footer mt-40">
            <h6 class="title-widget">Дополнительно</h6>
            <ul class="footer-list">
              <li><a href="#">История компании</a></li>
              <li><a href="#">Отзывы клиентов</a></li>
              <li><a href="about.html">О нас</a></li>
              <li><a href="contacts.html">Быстрый контакт</a></li>
              <li><a href="blog.html">Обзоры</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget-footer mt-40">
            <h6 class="title-widget">Ссылки</h6>
            <nav>
              <ul>
                <li><a href="#">Rolex</a></li>
                <li><a href="#">Omega</a></li>
                <li><a href="#">Hublot</a></li>
                <li><a href="#">Patek Phillipe</a></li>
                <li><a href="#">Cartier</a></li>
                <li><a href="#">Tissot</a></li>
                <li><a href="#">Garmin</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
