<!--  Header Start -->
<header class="header">
  <!-- Header Top Start -->
  <!-- <div
    class="header-top-area d-none d-lg-block text-color-white bg-gren border-bm-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header-top-settings">
            <ul class="nav align-items-center">
              <li class="language">
                Русский
                <i class="fa fa-angle-down"></i>
                <ul class="dropdown-list">
                  <li><a href="#">Русский</a></li>
                  <li><a href="#">English</a></li>
                </ul>
              </li>
              <li class="curreny-wrap">
                Валюта
                <i class="fa fa-angle-down"></i>
                <ul class="dropdown-list curreny-list">
                  <li><a href="#">₴ UAH</a></li>
                  <li><a href="#">€ EURO</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="top-info-wrap text-end">
            <ul class="my-account-container">
              <li><a href="my-account.html">Мой аккаунт</a></li>

              <li><a href="wishlist.html">Избранное</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Header Top End -->

  <!-- haeader Mid Start -->
  <div class="haeader-mid-area bg-gren border-bm-1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-5">
          <div class="logo-area">
            <a href="index.html">
              <h1 class="logo-text">TIME-SPOT24</h1>
              <!-- <img src="/img/logo/logo.png" alt="" /> -->
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="search-box-wrapper">
            <div class="search-box-inner-wrap">
              <form class="search-box-inner">
                <div class="search-select-box">
                  <select class="nice-select">
                    <optgroup label="Часы">
                      <option value="volvo">Все</option>
                      <option value="saab">Часы</option>
                      <option value="saab">Кондиционеры</option>
                    </optgroup>
                    <optgroup label="Мода">
                      <option value="mercedes">Женские топы</option>
                    </optgroup>
                  </select>
                </div>
                <div class="search-field-wrap">
                  <input
                    type="text"
                    class="search-field"
                    placeholder="Поиск товара..." />

                  <div class="search-btn">
                    <button><i class="icon-magnifier"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-blok-box text-white d-flex">
            <div class="user-wrap">
              <a href="wishlist.html">
                <span class="cart-total">2</span>
                <i class="icon-heart"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- haeader Mid End -->

  <!-- haeader bottom Start -->
  <div class="haeader-bottom-area bg-gren header-sticky">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 d-none d-lg-block">
          <div class="main-menu-area white_text">
            <!--  Start Mainmenu Nav-->
            <nav class="main-navigation text-center">
              <ul>
                <li class="active">
                  <a href="shop.html">Часы</a>
                </li>

                <li>
                  <a href="shop.html">Украшения</a>
                </li>
                <li>
                  <a href="blog.html">Обзоры</a>
                </li>

                <li>
                  <a href="frequently-questions.html">FAQ</a>
                </li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="contacts.html">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- mobile logo -->
        <div class="col-5 col-md-6 d-block d-lg-none">
          <div class="logo">
            <a href="index.html">
              <h1 class="logo-text">TIME-SPOT24</h1>
              <!-- <img src="/images/logo/logo.png" alt="" /> -->
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-7 d-block d-lg-none">
          <div class="right-blok-box text-white d-flex">
            <div class="user-wrap">
              <a href="wishlist.html">
                <span class="cart-total">2</span>
                <i class="icon-heart"></i>
              </a>
            </div>

            <div class="mobile-menu-btn d-block d-lg-none">
              <div class="off-canvas-btn">
                <a href="#">
                  <img src="img/icons/bg-menu.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- haeader bottom End -->

  <!-- off-canvas menu start -->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
      <div class="btn-close-off-canvas">
        <i class="fa fa-times"></i>
      </div>

      <div class="off-canvas-inner">
        <div class="search-box-offcanvas">
          <form>
            <input type="text" placeholder="Поиск товара..." />
            <button class="search-btn"><i class="icon-magnifier"></i></button>
          </form>
        </div>

        <!-- mobile menu start -->
        <div class="mobile-navigation">
          <!-- mobile menu navigation start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <a href="#">Главная</a>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Магазин</a>
                <ul class="megamenu dropdown">
                  <li class="mega-title has-children">
                    <a href="watch-catalog.html">Часы</a>
                    <ul class="dropdown">
                      <li><a href="#">Rolex</a></li>
                      <li><a href="#">Omega</a></li>
                      <li><a href="#">Patek Philippe</a></li>
                      <li><a href="#">Hublot</a></li>
                      <li><a href="#">Cartier</a></li>
                      <li><a href="#">Breitling</a></li>
                      <li><a href="#">Audemars Piguet</a></li>
                    </ul>
                  </li>
                  <li class="mega-title has-children">
                    <a href="julery-catalog.html">Ювелирные изделия</a>
                    <ul class="dropdown">
                      <li><a href="#">Кольца</a></li>
                      <li><a href="#">Серьги</a></li>
                      <li><a href="#">Кулоны</a></li>
                      <li><a href="#">Браслеты</a></li>
                      <li><a href="#">Цепочки</a></li>
                      <li><a href="#">Колье</a></li>
                    </ul>
                  </li>
                  <li class="mega-title has-children">
                    <a href="#">Аксессуары</a>
                    <ul class="dropdown">
                      <li><a href="#">Кошельки</a></li>
                      <li><a href="#">Сумки</a></li>
                      <li><a href="#">Ремни</a></li>
                      <li><a href="#">Очки</a></li>
                      <li><a href="#">Зонты</a></li>
                      <li><a href="#">Портмоне</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Блог</a>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Страницы</a>
              </li>
              <li><a href="about-us.html">О нас</a></li>
              <li><a href="contact-us.html">Контакты</a></li>
            </ul>
          </nav>
          <!-- mobile menu navigation end -->
        </div>
        <!-- mobile menu end -->

        <div class="header-top-settings offcanvas-curreny-lang-support">
          <h5>Мой аккаунт</h5>
          <ul class="nav align-items-center">
            <li class="language">
              Русский
              <i class="fa fa-angle-down"></i>
              <ul class="dropdown-list">
                <li><a href="#">Русский</a></li>
                <li><a href="#">English</a></li>
              </ul>
            </li>
            <li class="curreny-wrap">
              Валюта
              <i class="fa fa-angle-down"></i>
              <ul class="dropdown-list curreny-list">
                <li><a href="#">₴ UAH</a></li>
                <li><a href="#">€ EURO</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- offcanvas widget area start -->
        <div class="offcanvas-widget-area">
          <div class="top-info-wrap text-left text-black">
            <h5>Мой аккаунт</h5>
            <ul class="offcanvas-account-container">
              <li><a href="my-account.html">Мой аккаунт</a></li>
              <li><a href="cart.html">Корзина</a></li>
              <li><a href="wishlist.html">Избранное</a></li>
              <li><a href="checkout.html">Оформить заказ</a></li>
            </ul>
          </div>
        </div>
        <!-- offcanvas widget area end -->
      </div>
    </div>
  </aside>
  <!-- off-canvas menu end -->
</header>
<!--  Header Start -->
