<header class="vs-header layout1">
  <!-- Main Menu Area -->
  <div class="container">
    <div class="custom-container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="header-logo style3">
          <a href="index.html">
            <h2 class="logo-text">TIME-SPOT24</h2>
            <!-- <img src="/img/svg/logo.svg" alt="time-spot24" class="logo" /> -->
          </a>
        </div>

        <button
          class="burger-menu-btn d-block d-md-none"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample"
          aria-label="Open menu"
          aria-expanded="false">
          <i class="fas fa-bars"></i>
        </button>

        <div class="d-none d-md-block">
          <nav class="main-menu menu-style1">
            <ul>
              <li class="menu-item-has-children">
                <a href="watch.html">часы</a>
              </li>
              <li class="menu-item-has-children">
                <a href="product-details-2.html">украшения</a>
              </li>
              <li>
                <a href="blog.html">обзоры</a>
              </li>
              <li class="menu-item-has-children mega-menu-wrap">
                <a href="about.html">о нас</a>
              </li>
              <li>
                <a href="contacts.html">контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom text-center">
    <img src="/img/shapes/header-bottom-shape-1.svg" alt="header bottom" />
  </div>
</header>
