<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- off-canvas menu start -->
    <aside class="">
      <div class="off-canvas-inner-content">
        <!-- <div class="btn-close-off-canvas">
          <i class="fa fa-times"></i>
        </div> -->

        <div class="off-canvas-inner">
          <div class="search-box-offcanvas">
            <form>
              <input type="text" placeholder="Поиск товара..." />
              <button class="search-btn"><i class="icon-magnifier"></i></button>
            </form>
          </div>

          <!-- mobile menu start -->
          <div class="mobile-navigation">
            <!-- mobile menu navigation start -->
            <nav>
              <ul class="mobile-menu">
                <li class="menu-item-has-children">
                  <a href="#">Главная</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Магазин</a>
                  <ul class="megamenu dropdown">
                    <li class="mega-title has-children">
                      <a href="watch-catalog.html">Часы</a>
                      <ul class="dropdown">
                        <li><a href="#">Rolex</a></li>
                        <li><a href="#">Omega</a></li>
                        <li><a href="#">Patek Philippe</a></li>
                        <li><a href="#">Hublot</a></li>
                        <li><a href="#">Cartier</a></li>
                        <li><a href="#">Breitling</a></li>
                        <li><a href="#">Audemars Piguet</a></li>
                      </ul>
                    </li>
                    <li class="mega-title has-children">
                      <a href="julery-catalog.html">Ювелирные изделия</a>
                      <ul class="dropdown">
                        <li><a href="#">Кольца</a></li>
                        <li><a href="#">Серьги</a></li>
                        <li><a href="#">Кулоны</a></li>
                        <li><a href="#">Браслеты</a></li>
                        <li><a href="#">Цепочки</a></li>
                        <li><a href="#">Колье</a></li>
                      </ul>
                    </li>
                    <li class="mega-title has-children">
                      <a href="#">Аксессуары</a>
                      <ul class="dropdown">
                        <li><a href="#">Кошельки</a></li>
                        <li><a href="#">Сумки</a></li>
                        <li><a href="#">Ремни</a></li>
                        <li><a href="#">Очки</a></li>
                        <li><a href="#">Зонты</a></li>
                        <li><a href="#">Портмоне</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Блог</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Страницы</a>
                </li>
                <li><a href="about-us.html">О нас</a></li>
                <li><a href="contact-us.html">Контакты</a></li>
              </ul>
            </nav>
            <!-- mobile menu navigation end -->
          </div>
          <!-- mobile menu end -->

          <div class="header-top-settings offcanvas-curreny-lang-support">
            <h5>Мой аккаунт</h5>
            <ul class="nav align-items-center">
              <li class="language">
                Русский
                <i class="fa fa-angle-down"></i>
                <ul class="dropdown-list">
                  <li><a href="#">Русский</a></li>
                  <li><a href="#">English</a></li>
                </ul>
              </li>
              <li class="curreny-wrap">
                Валюта
                <i class="fa fa-angle-down"></i>
                <ul class="dropdown-list curreny-list">
                  <li><a href="#">₴ UAH</a></li>
                  <li><a href="#">€ EURO</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- offcanvas widget area start -->
          <div class="offcanvas-widget-area">
            <div class="top-info-wrap text-left text-black">
              <h5>Мой аккаунт</h5>
              <ul class="offcanvas-account-container">
                <li><a href="my-account.html">Мой аккаунт</a></li>
                <li><a href="cart.html">Корзина</a></li>
                <li><a href="wishlist.html">Избранное</a></li>
                <li><a href="checkout.html">Оформить заказ</a></li>
              </ul>
            </div>
          </div>
          <!-- offcanvas widget area end -->
        </div>
      </div>
    </aside>
  </div>
</div>
