<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-telegram"
  data-bs-toggle="modal"
  data-bs-target="#telegramSubscribeModal">
  <i class="fab fa-telegram-plane me-2"></i>
  Подписаться на Telegram
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="telegramSubscribeModal"
  tabindex="-1"
  aria-labelledby="telegramSubscribeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"></button>
      <img src="/img/modals/moc-modal.png" alt="Telegram" />
    </div>
  </div>
</div>
