<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <!-- Allows you to change the color of the browser address bar and the top of the browser on mobile devices -->
  <title>TIME-SPOT24 | Реплики часов премиум брендов</title>
  <!-- The most important parameter is what will appear in the search engine, you should put as many keywords as possible in this header,unique for each page -->
  <meta
    name="description"
    content="Интернет-магазин премиальных часов. Мужские и женские часы известных брендов. Доставка по всей Украине." />
  <!-- It is necessary to add as many keys as possible, 70 to 120 characters is recommended,unique for each page -->
  <meta property="og:type" content="website" />
  <!-- the value website indicates that your page is a website,default value -->
  <meta property="og:locale" content="ru_RU" />
  <!-- is used to specify the language and country for which your web page content is optimized -->
  <meta property="og:site_name" content="TIME-SPOT24" />
  <!-- the name of your website is in the title -->
  <meta property="og:url" content="https://yousite.com" />
  <!-- must specify the URL of your web page. -->
  <meta property="og:title" content="TIME-SPOT24 - Премиальные часы" />
  <!-- title to be displayed in social media,you can duplicate the description as on the page  -->
  <meta
    property="og:description"
    content="Интернет-магазин премиальных часов. Мужские и женские часы известных брендов." />
  <!-- description to be displayed in social media,you can duplicate the description as on the page -->
  <meta property="og:image" content="you link img social" />
  <!--can be used either locally or as a link  -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="you url" />
  <meta property="twitter:title" content="TIME-SPOT24 - Премиальные часы" />
  <meta
    property="twitter:description"
    content="Интернет-магазин премиальных часов. Мужские и женские часы известных брендов." />
  <meta property="twitter:image" content="you link img social" />
  <!-- seo optimization separately for twitter  -->
  <meta
    name="keywords"
    content="часы, премиальные часы, мужские часы, женские часы, наручные часы, швейцарские часы, купить часы, интернет-магазин часов" />
  <!-- key words, you better write them down.  -->
  <meta name="robots" content="all" />
  <!-- allows search engine robots to index the page -->
  <meta name="author" content="you name" />
  <link rel="canonical" href="https://yousite.com" />
  <!-- must match the original link that you specify in the url  -->
  <link
    rel="preload"
    href="fonts/Inter-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin />
  <link
    rel="preload"
    href="fonts/KumbhSans-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin />

  <link rel="stylesheet" href="css/main.css" />

  <!-- Simple Line Icons -->

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
    integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <!-- Font Awesome Icons -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <!-- GLightbox CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

  <!-- Bootstrap JS (loaded first for modal functionality) -->

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

  <!-- GLightbox JS -->
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
  <!-- Main JS (loads after DOM ready) -->
  <script defer src="js/main.js"></script>
</head>
