<section
  class="banner-area banner-bg-1 pt-5 pb-5 pt-md-4 pb-md-4 mt-40 parallax-section">
  <!-- Parallax background layer -->
  <div class="parallax-bg" data-parallax-speed="0.3"></div>

  <!-- Parallax content layer -->
  <div
    class="banner-box text-center parallax-content"
    data-parallax-speed="0.1">
    <h5
      class="banner__label"
      data-parallax-speed="0.1"
      data-aos="fade-up"
      data-aos-duration="200"
      data-aos-delay="700">
      Sale Off 20% All Products
    </h5>
    <h2
      class="banner__name parallax-element"
      data-parallax-speed="0.15"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="400">
      Вложения в статус - для тех, кто ценит время.
    </h2>
    <p
      class="banner__text mb-50 mb-md-20 parallax-element"
      data-parallax-speed="0.1"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="600">
      Мы верим, что часы премиум класа всегда актуальны
    </p>
  </div>
</section>
