<div class="banner-area section-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="single-banner mb-30">
          <a href="#">
            <img src="/img/banner/6.jpg" alt="" />
            <span class="category-banner">
              <span class="category-banner__label">Реплики часов</span>
              <span class="category-banner__name">Премиум класса</span>
              <span class="category-banner__price">
                100% копии оригинальных часов
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="single-banner mb-30">
          <a href="#">
            <img src="/img/banner/8.jpg" alt="" />
            <span class="category-banner">
              <span class="category-banner__label">Украшения</span>
              <span class="category-banner__name">Золотые украшения</span>
              <span class="category-banner__price">
                100% копии оригинальных украшений
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
