<section class="banner-area py-3 py-md-5">
  <div class="container">
    <div
      class="d-flex gap-4 flex-wrap flex-md-nowrap justify-content-center align-items-center">
      <div class="">
        <div class="single-banner">
          <a href="watch.html">
            <img src="/img/banner/6.jpg" alt="" />
            <span class="category-banner">
              <span class="category-banner__label">Реплики часов</span>
              <span class="category-banner__name">Премиум класса</span>
              <span class="category-banner__price">
                100% копии оригинальных часов
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="">
        <div class="single-banner">
          <a href="jewelry.html">
            <img src="/img/banner/8.jpg" alt="" />
            <span class="category-banner">
              <span class="category-banner__label">Украшения</span>
              <span class="category-banner__name">Золотые украшения</span>
              <span class="category-banner__price">
                100% копии оригинальных украшений
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
