<!-- brand-area start -->
<section class="our-brand-area section-pb swiper-brands">
  <!-- <div class="">
    <h2 class="brand-title">Клоны часов лучших брендов</h2>
    <p class="brand-desc">
      Мы специализируемся на часах Super Clone 1:1 от ведущих мировых брендов —
      Rolex, Omega, Hublot, Breitling, Patek Philippe и Audemars Piguet. Каждые
      часы изготовлены с высокой точностью, чтобы полностью соответствовать
      оригиналу. Это сэкономит вам тысячи долларов и при этом будет выглядеть на
      миллион!
    </p>
  </div> -->
  <div class="swiper-wrapper">
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/rolex-logo.png" alt="Rolex" /></a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/omega-logo.png" alt="Omega" /></a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/cartier-logo.png" alt="Cartier" /></a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#">
        <img src="img/brand/breitling-logo.png" alt="Breitling" />
      </a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/hublot-logo.png" alt="Hublot" /></a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#">
        <img src="img/brand/audemars-logo.png" alt="Audemars Piguet" />
      </a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/patek.png" alt="Patek Philippe" /></a>
    </div>
  </div>
</section>
