<div class="our-brand-area section-pb">
  <div class="container">
    <div class="row our-brand-active">
      <div class="brand-single-item">
        <a href="#"><img src="assets/images/brand/brand-01.png" alt="" /></a>
      </div>
      <div class="brand-single-item">
        <a href="#"><img src="assets/images/brand/brand-01.png" alt="" /></a>
      </div>
      <div class="brand-single-item">
        <a href="#"><img src="assets/images/brand/brand-01.png" alt="" /></a>
      </div>
      <div class="brand-single-item">
        <a href="#"><img src="assets/images/brand/brand-01.png" alt="" /></a>
      </div>
      <div class="brand-single-item">
        <a href="#"><img src="assets/images/brand/brand-01.png" alt="" /></a>
      </div>
      <div class="brand-single-item">
        <a href="#"><img src="assets/images/brand/brand-01.png" alt="" /></a>
      </div>
      <div class="brand-single-item">
        <a href="#"><img src="assets/images/brand/brand-01.png" alt="" /></a>
      </div>
    </div>
  </div>
</div>
