<!-- brand-area start -->
<div class="our-brand-area section-pb swiper-brands">
  <div class="swiper-wrapper">
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/rolex-logo.png" alt="Rolex" /></a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/omega-logo.png" alt="Omega" /></a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/cartier-logo.png" alt="Cartier" /></a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#">
        <img src="img/brand/breitling-logo.png" alt="Breitling" />
      </a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/hublot-logo.png" alt="Hublot" /></a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#">
        <img src="img/brand/audemars-logo.png" alt="Audemars Piguet" />
      </a>
    </div>
    <div class="brand-single-item swiper-slide">
      <a href="#"><img src="img/brand/patek.png" alt="Patek Philippe" /></a>
    </div>
  </div>
</div>
