<section class="banner-layout1 wow animate__fadeInUp" data-wow-delay="0.2s">
  <div class="container p-0">
    <div class="row gx-0">
      <div class="col-lg-6">
        <div
          class="banner-style"
          data-bg-src="/img/banner/banner-bg-1-1.png"
          style="background-image: url(/img/banner/banner-bg-1-1.png)">
          <div class="banner-img">
            <img
              data-speed="1.08"
              src="/img/banner/banner-watch-1-1.png"
              alt="banner-watch" />
          </div>
          <div class="banner-content">
            <div
              class="star-rating"
              role="img"
              aria-label="Rated 5.00 out of 5">
              <span></span>
            </div>
            <h3 class="banner-title">
              <a href="shop-details.html">Premium Model</a>
            </h3>
            <span class="product-price">
              Only From
              <span>$85.00</span>
            </span>
            <a href="shop-details.html" class="vs-btn">shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="banner-style style2"
          data-bg-src="img/banner/banner-bg-1-2.png">
          <div class="banner-img">
            <img
              data-speed="1.1"
              src="/img/banner/banner-watch-1-2.png"
              alt="banner-watch" />
          </div>
          <div class="banner-content">
            <div
              class="star-rating"
              role="img"
              aria-label="Rated 5.00 out of 5">
              <span></span>
            </div>
            <h3 class="banner-title">
              <a href="shop-details.html">rubber editions</a>
            </h3>
            <span class="product-price">
              Only From
              <span>$350.00</span>
            </span>
            <a href="shop-details.html" class="vs-btn">shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
