<section class="fact-area pb-5" id="fact-area">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-3 col-sm-6">
        <div class="fact">
          <div class="fact__icon">
            <i class="fact-icon fa-regular fa-face-smile"></i>
          </div>
          <div class="fact__content">
            <h3><span class="counter" data-count="2169">0</span></h3>
            <p>СЧАСТЛИВЫХ КЛИЕНТОВ</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="fact">
          <div class="fact__icon">
            <i class="fact-icon fa-solid fa-trophy"></i>
          </div>
          <div class="fact__content">
            <h3><span class="counter" data-count="869">0</span></h3>
            <p>НАГРАД ПОЛУЧЕННЫХ</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="fact">
          <div class="fact__icon">
            <i class="fact-icon fa-solid fa-clock"></i>
          </div>
          <div class="fact__content">
            <h3><span class="counter" data-count="689">0</span></h3>
            <p>ЧАСОВ РАБОТЫ</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="fact">
          <div class="fact__icon">
            <i class="fact-icon fa-solid fa-list-check"></i>
          </div>
          <div class="fact__content">
            <h3><span class="counter" data-count="2500">0</span></h3>
            <p>ВЫПОЛНЕННЫХ ПРОЕКТОВ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
