<!-- Hero Section Start -->
<section class="hero-slider hero-premium hero-slider-one swiper">
  <div class="swiper-wrapper">
    <!-- Single Slide Start -->
    <div
      class="single-slide swiper-slide"
      style="background-image: url(img/hero/slider-4.jpg)">
      <div class="hero-overlay"></div>
      <!-- Hero Content One Start -->
      <div class="hero-content-one container-xl">
        <div class="hero-content-one__wrapper">
          <div class="slider-content-text text-left" data-aos="fade-right">
            <h3>Эксклюзивное предложение -20% на этой неделе</h3>
            <h2 class="hero-title-premium">
              <span class="slider-content-text__line">TIMELESS</span>
              <span class="slider-content-text__line">ELEGANCE</span>
            </h2>
            <h4>
              От легендарных Rolex Submariner до элегантных Patek Philippe —
              каждая модель создана для тех, кто ценит безупречное качество без
              компромиссов.
            </h4>
            <p>
              Начиная от
              <strong>$1.499.00</strong>
            </p>
            <div class="slide-btn-group">
              <a href="watch.html" class="btn btn-bordered btn-style-1">
                Каталог
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Content One End -->
    </div>
    <!-- Single Slide End -->

    <!-- Single Slide Start -->
    <div
      class="single-slide swiper-slide"
      style="background-image: url(img/hero/slider-2.jpg)">
      <div class="hero-overlay"></div>
      <!-- Hero Content One Start -->
      <div class="hero-content-one container">
        <div class="hero-content-one__wrapper">
          <div class="slider-content-text text-left" data-aos="fade-left">
            <h5>ЛУЧШИЕ ЧАСЫ-СУПЕР-КЛОНЫ</h5>
            <h2 class="hero-text-gold">H-Vault Classico</h2>
            <p>Реплики Rolex премиум-класса и других люксовых брендов</p>
            <p>
              Начиная от
              <strong>$1.499.00</strong>
            </p>
            <div class="slide-btn-group">
              <a href="watch.html" class="btn btn-bordered btn-style-1">
                Каталог
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Content One End -->
    </div>
    <!-- Single Slide End -->

    <!-- Single Slide Start -->
    <div
      class="single-slide swiper-slide"
      style="background-image: url(img/hero/slider-3.jpg)">
      <div class="hero-overlay"></div>
      <!-- Hero Content One Start -->
      <div class="hero-content-one container">
        <div class="hero-content-one__wrapper">
          <div class="slider-content-text text-left" data-aos="fade-left">
            <h5>Эксклюзивное предложение -20% на этой неделе</h5>
            <h2 class="hero-text-gold">H-Vault Classico</h2>
            <p>
              Мы не просто копируем роскошь — мы воссоздаём её с поразительной
              точностью. Реплики Rolex премиум-класса и других люксовых брендов
            </p>
            <p>
              Начиная от
              <strong>$1.499.00</strong>
            </p>
            <div class="slide-btn-group">
              <a href="watch.html" class="btn btn-bordered btn-style-1">
                Каталог
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Content One End -->
    </div>

    <!-- Single Slide End -->

    <!-- Single Slide Start -->

    <!-- Single Slide End -->
  </div>
</section>
<!-- Hero Section End -->
