<!-- letast review area Start -->
<div class="letast-review-area section-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="singel-latest-review">
          <div class="aritcles-content">
            <div class="author-name">
              post by:
              <a href="#">Author Name</a>
              - 30 Oct 2019
            </div>
            <h4>
              <a href="review-details.html" class="articles-name">
                Ruiz Watch is one of the web's most visited watch sites and the
                world's
              </a>
            </h4>
          </div>
          <div class="articles-image">
            <a href="review-details.html">
              <img src="img/review/blog1.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="singel-latest-review">
          <div class="aritcles-content">
            <div class="author-name">
              post by:
              <a href="#">Author Name</a>
              - 20 Oct 2019
            </div>
            <h4>
              <a href="review-details.html" class="articles-name">
                Ruiz Watch reviews and most popular watch & timepiece review for
                serious
              </a>
            </h4>
          </div>
          <div class="articles-image">
            <a href="review-details.html">
              <img src="img/review/blog3.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="singel-latest-review">
          <div class="aritcles-content">
            <div class="author-name">
              post by:
              <a href="#">Author Name</a>
              - 20 Oct 2019
            </div>
            <h4>
              <a href="review-details.html" class="articles-name">
                Ruiz Watch reviews and most popular watch & timepiece review for
                serious
              </a>
            </h4>
          </div>
          <div class="articles-image">
            <a href="review-details.html">
              <img src="img/review/blog3.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- letast review area End -->
